body{
    width: 1200px;
    height: 1000px;
    background-image:url('/home/user/Bureau/becode_projects/composants-de-design/Challenge/zone-hero/assets/img/hero-image.jpg') ;
    background-size: 100%;
}


.titre{
   padding-top: 100px;
}


h1{
    font-size: 40px;
    width: 340px;
    font-family: 'Sarabun', sans-serif;
   
}

p{
    width: 340px;
    font-family: 'Lato', sans-serif;
}

.btn{
    background-color: #FFBD4F;
    width: 200px;
    height: 50px;
}

