.page{
    background-color: #E4E4E4;
    display: flex;
    justify-content: center;
    width:700px;
    margin-left: 300px;
}
.menu{
    list-style: none;
    display: flex;
    
 
}

a{
    text-decoration: none;
    color: white;
}
.btn{
    background-color: #2F332E;
    border-radius: 10%;
    width: 70px;
    height: 35px;
}

.btn:hover{
    background-color: #1992E8;
}

.btn1{
    background-color: none;
    border-radius: 10%;
    width: 70px;
    height: 35px;
}
